/* 泡のコンテナ */
.bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* コンテンツの裏側に配置 */
    overflow: hidden;
    pointer-events: none;
    background: linear-gradient(to bottom, #456eff, #bdf6ff); /* 背景も淡い緑〜青のグラデに */
}

/* 泡の共通スタイル */
.bubble {
    position: absolute;
    bottom: -100px;
    background-color: rgba(177, 249, 255, 0.691); /* 白の半透明 */
    border-radius: 50%;
    animation: rise var(--t) infinite linear;
}

/* 泡が昇るアニメーション */
@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    10% {
        opacity: 0.5;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-120vh) scale(1.5);
        opacity: 0;
    }
}