<div class="bubble-container">
    <div class="bubble" style="left: 10%; width: 40px; height: 40px; --t: 10s;"></div>
    <div class="bubble" style="left: 25%; width: 20px; height: 20px; --t: 7s; animation-delay: 2s;"></div>
    <div class="bubble" style="left: 40%; width: 60px; height: 60px; --t: 15s; animation-delay: 1s;"></div>
    <div class="bubble" style="left: 55%; width: 15px; height: 15px; --t: 8s; animation-delay: 4s;"></div>
    <div class="bubble" style="left: 70%; width: 50px; height: 50px; --t: 12s; animation-delay: 3s;"></div>
    <div class="bubble" style="left: 85%; width: 30px; height: 30px; --t: 9s; animation-delay: 0.5s;"></div>
    <div class="bubble" style="left: 95%; width: 25px; height: 25px; --t: 11s; animation-delay: 5s;"></div>
</div>